<div class="container-fluid">
<div class="main">
    <div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1">
    <div class="mainContent">
        <div class="row">
            <div class="col-md-4">
        <img id="profPic" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAc9AAAAJGJiNDY2ZmQzLTcwYjUtNDBmNy05MTljLWUwZDE5NWNjY2NiMQ.jpg" />
                </div>
            <div class="col-md-8">
         <h1><span id="greeting">Welcome, I'm </span><strong>Luke Miller!</strong></h1>
             
                <p class="headerDescrip">I have always had a passion for artistic design. From a young age I have marveled at clean and elegant designs and finding a way to create an individual expression of these designs through my ideas. When I was able to mix that passion with technology, it allowed me to visualize and create my ideas in a new way.</p>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
